body{
	background-color:#330033; text-align: center
}
h1{
	color:#00FF00; background-color:#0000FF; font-style: oblique;
}
p{
	color:#ff0000; font-family: "Georgia", times, serif;
}
h3{
	color: beige; font-family:"Comic Sans MS", comic, sans-serif; text-align: left;
}
h2{
	background-color:pink; font-weight: bolder; font-family: "times";
}